@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  width: 95%;
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  z-index: 1;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.hero {
  background: url("./../img/ocean.png") top center no-repeat;
  color: #fff;
  background-size: cover;
  height: 100vh;
  min-height: 36.4444444444rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.5555555556rem;
  width: 100%;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding: 0;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 1.6666666667rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.7777777778rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .header {
    background: #1968b1;
    height: 5.0555555556rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4444444444rem;
  }
}

.phone-namber {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-namber__icon-elem {
  width: 0.7222222222rem;
  height: 1.2222222222rem;
  margin-right: 0.7777777778rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .phone-namber.header__phone-namber {
    display: none;
  }
}

.phone-namber__txt {
  white-space: nowrap;
}

.phone-namber__icon {
  flex-shrink: 0;
}

.bullets {
  display: flex;
}

.bullets__item {
  margin-right: 1.8888888889rem;
}
.bullets__item:last-child {
  margin-right: 0;
}

.bullet {
  display: flex;
  text-align: center;
  align-items: center;
}

.bullet__icon {
  width: 1.8888888889rem;
  height: 1.8888888889rem;
  margin-right: 0.8333333333rem;
}

.bullet__txt {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.2222222222rem 2.3333333333rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn--threme--yellow {
  background: #fedb3f;
  color: #000;
  margin-bottom: 3.5555555556rem;
}
.btn--threme--yellow:hover {
  background: #ffd517;
  color: #000;
}
.btn--threme--trasparant {
  background: transparent;
  color: #ffffff;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 3.5555555556rem;
}
.btn--threme--trasparant:hover {
  background: #00000080;
  opacity: 50%;
  color: #fedb3f;
}

.section {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 33.3333333333rem;
}
.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.1666666667rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
.section__title-form {
  margin-top: 3.3333333333rem;
  color: #ffffff;
  background-size: cover;
  background-size-font-size: 2.2222222222rem;
}

.section-overlay {
  position: relative;
}
.section-overlay::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.headline {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2.8333333333rem;
}

.headline__title {
  margin-bottom: 1rem;
}

.headline__subtitle {
  padding: 0 27%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item::before {
  content: "";
  display: block;
  content: url("./../img/decor.png");
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__title {
  font-size: 1.5555555556rem;
  font-weight: bold;
}

.benefit__image {
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__desc {
  font-size: 1rem;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.3333333333rem 2.2222222222rem 2.3333333333rem;
  margin-bottom: 1.1666666667rem;
  overflow: hidden;
  position: relative;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.1111111111rem;
    height: 7.1111111111rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7777777778rem;
  color: #292929;
}

.reviews__txt {
  margin-bottom: 1.4444444444rem;
}

.reviews__autor {
  font-size: 1rem;
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-flex;
}
.interactive-avatar--active {
  border-color: #fedb3f;
}

.interactive-avatar__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.5555555556rem;
}

.form__block {
  flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__imput {
  width: 100%;
  border: none;
  padding: 1rem 1rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2777777778rem;
}
.form__imput--textarea {
  height: 8.4444444444rem;
  max-width: 25rem;
  margin-bottom: 1.4444444444rem;
}
.form__imput:focus {
  border-color: #fedb3f;
  outline: none;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.order-section {
  background: url("./../img/wave.jpg") center;
  color: #FFFFFF;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .order-section {
    background: url("./../img/wave.jpg") center;
    background-size: cover;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("./../img/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.radio__elem:focus ~ .radio__visible {
  box-shadow: 1rem 6px 1rem 6px 1rem 6px 1rem 6px rgba(255, 251, 0, 0.1);
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  content: "";
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 1.4444444444rem;
  margin-bottom: 1.4444444444rem;
}
.radio__visible::before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #fedb3f;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.5555555556rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1rem 6px;
  height: 1rem 6px;
  margin: -1rem 6px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.1111111111rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.5555555556rem;
  height: 0.5555555556rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  margin: 0 1.9rem;
  padding-top: 0.3rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu-opened {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .menu-opened {
    display: block;
  }
}
.menu-opened .menu__list {
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__close-cross {
  background: url(./../img/cross.svg);
  display: block;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}

.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__close {
  display: none;
}

.menu__opened ~ .menu__close {
  display: block;
}

.map-section {
  display: flex;
  position: relative;
  background: url(./../img/map.jpg) center center no-repeat;
}

.footer {
  padding: 1.3333333333rem 0;
  border: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__text {
  font-size: 1.1666666667rem;
  font-weight: normal;
  font-style: normal;
}

.hamburger {
  width: 1.4444444444rem;
  height: 0.2222222222rem;
  flex-direction: column;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 0.2222222222rem;
  border-radius: 0.5555555556rem;
  margin-bottom: 0.3011111111rem;
}

.socials {
  display: flex;
}

.socials__item {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  margin-right: 0.7777777778rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  height: 100%;
}

.socials__icon {
  fill: #b3b3b3;
  max-width: 100%;
  max-height: 100%;
}
.socials__icon:hover {
  fill: #292929;
}

.products-slider__arrows {
  display: flex;
  flex-direction: column;
}

.product__parameters-dropdown {
  position: relative;
  display: none;
}
.product__parameters-dropdown:hover {
  display: inline-block;
}

.product__col {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__col-img {
  position: relative;
  margin-top: 8.7222222222rem;
  display: flex;
}

.product__col-img-board {
  position: absolute;
  margin-top: 2.9238888889rem;
  top: 0;
  left: 0;
}

.product__container {
  display: flex;
}

.product__parameters {
  max-width: 15.1666666667rem;
  max-height: 16.1666666667rem;
}

.product__col-left {
  margin-top: 3.6666666667rem;
  margin-left: 3.7777777778rem;
  align-items: flex-start;
}

.product__icon {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E;
  border-radius: 0.2222222222rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.8888888889rem;
}
.product__icon:hover ~ .product__parameters .product__parameters-dropdown {
  display: inline-block;
  transition: 0.3s;
}

.product__title {
  color: #FFFFFF;
}

.product__parameters-icon-line {
  display: flex;
  margin-bottom: 0.2033333333rem;
}

.section__title-product {
  font-size: 2rem;
}

.product__txt {
  margin-bottom: 1.3333333333rem;
}

.product__info {
  display: flex;
}

.product__info-list {
  margin-right: 2.8888888889rem;
  margin-bottom: 1.3333333333rem;
}
.product__info-list:last-child {
  margin-right: 0;
}

.product__info-text {
  display: flex;
  flex-direction: column;
}

.product__info-text-bold {
  font-weight: bold;
  color: #000000;
}

.product__praces {
  display: flex;
  align-items: center;
}

.product__price {
  font-size: 3.3333333333rem;
  margin-bottom: 3.5555555556rem;
  margin-right: 1.5555555556rem;
  color: #151515;
}

.team {
  display: flex;
  justify-content: space-between;
}

.section__title {
  margin-bottom: 2.9444444444rem;
}

.team__member {
  width: 12.2222222222rem;
  height: 16.1111111111rem;
  margin-right: 1.1111111111rem;
  margin-bottom: 1.1666666667rem;
}
.team__member:last-child {
  margin-right: 0;
}

.team__title {
  color: #292929;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: transparent;
  font-size: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 0.4444444444rem;
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
  height: 0;
}

.team__occ {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0.2222222222rem;
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .team--version--mobile {
    display: flex;
    flex-direction: column;
  }
}