$containerWidht: 940px;
$baseFontSize: 18px;

$z-fixed-menu: 100;

$tablets: 768px;
$phones: 480px;

@import "media";

@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap");
@import "layout";

@import "components/hero";
@import "components/header";
@import "components/bullets";
@import "components/bullet";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/reviews";
@import "components/ineractive-avatar";
@import "components/form";
@import "components/order-section";
@import "components/form__controls";
@import "components/radio";
@import "components/fixed-menu";
@import "components/menu";
@import "components/map";
@import "components/footer";
@import "components/hamburger";
@import "components/socials";
