.footer {
  padding: rem(24px) 0;
  border: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    display: flex;
    flex-direction: column;
  }
}
.contacts {
  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__text {
  font-size: rem(21px);
  font-weight: normal;
  font-style: normal;
}
