.overview-menu-section{
	background-image: url("./../img/menu.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	
}

.overview-menu-section__title{
	color: #FFFFFF;
	font-size: rem(48px);
	font-weight: 700;
	position: absolut;
	
	
}

.overview-menu{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	list-style: none;
	display: flex;
	
	

}

.overview-menu__content-text{
	display: none;
}