.overview-menu-section{
	background: url("./../img/menu.jpg");
	background-position: center;
	background-size: cover;
	
	height: 100vh;
    position: relative;
	
	& &__title{
		color: #FFFFFF;
		position: absolute;
		

	}
	&__list{
		position: absolute;
		top: 0;
		right: 0;
		
		height: 100%;
		display: flex;
		
	}
	&__item{
		display: flex;
		height: 100%;
	}
	&__trigger{
		height: 100%;
		width: rem(102px);
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		&-longbord{
			background-image: url("./../img/longbord.png");
			
		}
		&-shortbord{
			background-image: url("./../img/shortbord.png");
			
		}
		&-softtop{
			background-image: url("./../img/softtop.png");
			
		}
		
	}
	&__content-wrap{
		width: 0;
		overflow: hidden;
		transition: 1s;
	}
	&__content{
		background: rgba(51, 53, 55, 0.9);
		backdrop-filter: blur(10px);
		font-size: 16px;
		line-height: 24px;
		color: #FFF;
		height: 100%;
		padding: rem(30px) rem(80px) rem (30px) rem(38px);
	}
}



