.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: 0;
      &::before {
        background: url("./../img/check.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.radio__elem {
  &:focus ~ .radio__visible {
    box-shadow: 1rem (6px) 1rem (6px) 1rem (6px) 1rem (6px)
      rgba(255, 251, 0, 0.1);
  }

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  content: "";
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: rem(26px);
  margin-bottom: rem(26px);

  &::before {
    content: "";
    width: rem(13px);
    height: rem(13px);
    background: #fedb3f;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  margin-right: rem(10px);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1rem (6px);
  height: 1rem (6px);
  margin: -1rem (6px);
}
