.section {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: rem(600px);

  &__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(21px);
    text-align: center;
    text-transform: uppercase;
    color: #292929;

    &-form {
      margin-top: rem(60px);
      color: #ffffff;

      background-size: cover {
        font-size: rem(40px);
      }
    }
  }
}

.section-overlay {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);
  }
}
