<<<<<<< HEAD
.benefit{
	text-align: center;

	@include phones{
		display: flex;
		text-align: left;
	}
}

.benefit__title{
	font-size: 1.7rem;
	font-weight: bold;
}

.benefit__image{
	margin-bottom: 1.2rem;

	@include phones{
		margin-bottom: 0;
		margin-right: 1.25rem;
	}
}
.benefit__image-wrapper{
	display: inline-block;
	width: 8rem;
	height: 8rem;
	position: relative;
	background: #F2F5F4;
	border-radius: 50%;
	overflow: hidden;
}

.benefit__icon{
	width: 4rem;
	height:4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.benefit__desc{
	font-size: 1.1rem;

	
=======
.benefit{
	text-align: center;
}

.benefit__title{
	font-size: 1.7rem;
	font-weight: bold;
}

.benefit__image-wrapper{
	display: inline-block;
	width: 8rem;
	height: 8rem;
	position: relative;
	background: #F2F5F4;
	border-radius: 50%;
	overflow: hidden;
}

.benefit__icon{
	width: 4rem;
	height:4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.benefit__desc{
	font-size: 1.1rem;
>>>>>>> 8fe85ff6ff660e57a0e2d11236b3fd37fabcb935
}