.btn {
  font-size: rem(16px);
  font-weight: 800;
  padding: rem(22px) rem(42px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &--threme--yellow {
    background: #fedb3f;
    color: #000;
    margin-bottom: rem(64px);

    &:hover {
      background: #ffd517;

      color: #000;
    }
  }

  &--threme--trasparant {
    background: transparent;
    color: #ffffff;
    font-weight: 400;
    text-transform: none;
    margin-bottom: rem(64px);
    &:hover {
      background: #00000080;
      opacity: 50%;

      color: #fedb3f;
    }
  }
}
