<<<<<<< HEAD
.footer{
	padding: 1.4rem 0;
	border: #fff;
}

.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts__text{
	font-size: 1.3rem;
	font-weight: normal;
	font-style: normal;
=======
.footer{
	padding: 1.4rem 0;
	border: #fff;
}

.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
>>>>>>> 8fe85ff6ff660e57a0e2d11236b3fd37fabcb935
}