.form {
  display: flex;

  @include tablets {
    padding: 0 19%;
    flex-direction: column;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(10px);
}

.form__block {
  flex: 1;
  margin-right: rem(18px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(18px);
  border: solid rem(3px) transparent;
  border-radius: rem(5px);
  

  &--textarea {
    height: rem(152px);
    max-width: rem(450px);
    margin-bottom: rem(26px);
  }

  &:focus {
    border-color: #fedb3f;
    outline: none;
  }
}

.form__btns {
  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.input-error{
  border-color: red;
}