.hamburger {
  width: rem(26px);
  height: rem(4px);

  flex-direction: column;
  
  display: none;

  @include tablets {
    display: block;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: rem(4px);
  border-radius: rem(10px);
  margin-bottom: rem(5.42px);
}
