.hamburger{
	width: 1.5rem;
	height: 1.25rem;
	
	flex-direction: column;
	justify-content: space-between;
	display: none;

	@include tablets{
		display: inline-flex;
	}
}

.hamburger__plank{
	display: block;
	background: #FFF;
	height: 4px;
	border-radius: 10px;

}