.headline {
  align-items: center;
  text-align: center;
  font-size: rem(18px);
  margin-bottom: rem(51px);
}

.headline__title {
  margin-bottom: rem(2px);
}

.headline__subtitle {
  padding: 0 27%;

  @include phones {
    padding: 0 5%;
  }
}
