.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: rem(90px);

  @include tablets {
    background: #1968b1;
    height: rem(91px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(8px);
  }
}

.phone-namber {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-namber__icon-elem {
  width: rem(13px);
  height: rem(22px);
  margin-right: rem(14px);
  display: flex;
  align-items: center;
}

.phone-namber.header__phone-namber {
  @include tablets {
    display: none;
  }
}
.phone-namber__txt {
  white-space: nowrap;
}

.phone-namber__icon {
  flex-shrink: 0;
}
