.header{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	@include tablets{
		background: #1968B1;
		height: 5.7rem;
		display: flex;
		justify-content: space-between;
		
	
}
}

.phone-namber{
	font-size: 1.4rem;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.phone-namber__icon-elem{
	width: 0.8rem;
	height: 1.4rem;
	margin-right: 0.9rem;
}

.phone-namber.header__phone-namber{
	@include tablets{
		display: none;
	}
}
 .phone-namber__txt{
	 white-space: nowrap;
 }

 .phone-namber__icon{
	 flex-shrink: 0;
 }
