<<<<<<< HEAD
.headline{
	align-items: center;
	text-align: center;
	font-size: 1.1rem;
	margin-bottom: 3.2rem;
}

.headline__title{
	margin-bottom: 1.1rem;
}

.headline__subtitle{
	padding: 0 27%;

	@include phones{
		padding: 0 5%;
	}
}
=======

>>>>>>> 8fe85ff6ff660e57a0e2d11236b3fd37fabcb935
