.header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include tablets{
		background: #1968B1;
		height: 5.7rem;
		
	
}
}

.phone-namber{
	font-size: 1.4rem;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.phone-namber__icon-elem{
	width: 0.8rem;
	height: 1.4rem;
	margin-right: 0.9rem;
}

.phone-namber.header__phone-namber{
	@include tablets{
		display: none;
	}
}
