<<<<<<< HEAD
.menu{
	@include tablets{
		display: none;
		margin: 0 1.9rem;
		padding-top: 0.3rem;

	}
}

.menu__list{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu__item{
	margin-right: 1.4rem;
	margin-bottom: 0.6rem;

	&:last-child{
		margin-right: 0;
	}
}

.menu__link{
	text-decoration: none;
	white-space: nowrap;
}
=======
.menu{
	@include tablets{
		display: none;
		

	}
}

.menu__list{
	display: flex;
	align-items: center;
}

.menu__item{
	margin-right: 1.4rem;

	&:last-child{
		margin-right: 0;
	}
}

.menu__link{
	text-decoration: none;
	white-space: nowrap;
}
>>>>>>> 8fe85ff6ff660e57a0e2d11236b3fd37fabcb935
