.reviews__display{
	background: #F8FAF9;
	padding: 2.6rem 2.5rem 2.6rem;
	margin-bottom: 1.3rem;
	overflow: hidden;
	position: relative;

}

.reviews__display-inner{
	display: flex;

	@include tablets{
	flex-direction: column;
	text-align: center;
	align-items: center;
	}
}

.reviews__avatar{
	width: 15.8rem;
	height: 16.5rem;

	@include tablets{
		width: 8rem;
		height: 8rem;
	}
}

.reviews__avatar-img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.reviews__content{
	flex: 1;
	margin-left: 1.25rem;
}

.reviews__title{
	font-size: 1.7rem;
	font-weight: bold;
	margin-bottom: 0.9rem;
	color: #292929;
}

.reviews__txt{
	margin-bottom: 1.6rem;
}

.reviews__autor{
	font-size: 1.1rem;
	font-weight: 500;
    color: #292929;

}

.reviews__switcher{
	display: flex;
	justify-content: center;
}